
.body{
    height: 1000px;
    width: 1000px;
    border: 0ch;
}
.gov{
    height: 30px;
    width: 30px;
}
.bg{

height: 600px;
    width:600px;

}
.lease{

height: 600px;
    width:900px;
    padding-right: 0cqh;
    background-image: -moz-repeating-linear-gradient();
    box-shadow: 0cqmin;

}